.header {
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  align-items: center;
  padding-bottom: 70px;
  position: relative;
}
.malumotCont {
  width: 400px;
  display: flex;
  color: #fff !important;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  column-gap: 50px;
}

.map {
  transition: 0.5s;
}

.imageContainer {
  z-index: 1;
  width: 400px;
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
}

.image {
  width: 105%;
  height: 105%;
  z-index: 0;
  border-radius: 50px;
  transform: scale(1.1);
  transition: ease;
}

.statCont {
  margin-top: 100px;
  margin-left: 500px;
}

.statistika,
.regionsName {
  background: #ffffff88;
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 5px;
  text-align: center;
}
.statistika {
  width: 120px;
  height: 85px;
  padding: 5px 5px;
}
.statistika h6 {
  font-size: 10px;
}
.statistika h5 {
  font-size: 15px;
}

.openIcon {
  animation: iconAnim 0.5s linear 0s infinite alternate-reverse;
}

.openStat {
  transform: translateX(-540px);
  transition: 0.5s;
}

.messengers {
  text-align: center;
  display: flex;
  width: 300px;
  color: #fff;
  justify-content: space-between;
  justify-items: center;
}

@keyframes imageAnim {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: 100%;
  }
}

@keyframes iconAnim {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}

@media screen and (max-width: 1310px) {
  .headerContainer {
    flex-direction: column !important;
    margin: 0;
    padding: 0;
  }
  .malumotCont {
    width: 50% !important;
    text-align: center;
    margin: 20px;
  }
  .map {
    margin-top: -150px !important;
    transform: scale(0.75);
  }
}

@media screen and (max-width: 660px) {
  .malumotCont {
    width: 300px !important;
  }
  .malumotCont h2 {
    font-size: 20px;
    margin: 0;
  }
  .malumotCont h4 {
    font-size: 20px;
  }
  .map {
    transform: scale(0.6);
    margin-top: -200px !important;
  }
  .messengers {
    margin-top: -80px;
    width: 200px;
  }
}

@media screen and (max-width: 530px) {
  .map {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 440px) {
  .malumotCont h2 {
    font-size: 15px;
    margin: 0;
  }
  .malumotCont h4 {
    font-size: 15px;
  }
  .map {
    transform: scale(0.35);
  }
  .messengers {
    margin-top: -100px;
    width: 150px;
  }
}
