.datatable {
  padding: 30px;
  text-align: center;
}
/* .template {
    
 } */
.template img {
  width: 500px;
  height: 300px;
  padding: 30px;
}

.information {
  /* width: 90%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.information .title {
  padding: 10px;
  color: grey;
}
.information .save a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(29, 255, 29);
  border-radius: 3px;
  color: white;
}
.information .save a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid black;
  font-size: 20px;
  transition: 0.8s;
}

.card {
  width: 370px;
  height: 200px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  
}


@media screen and (max-width: 800px) {
  .template img {
    width: 430px;
  }
}
@media screen and (max-width: 500px) {
  .template img {
    width: 330px;
  }
}