.datatable {
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-bottom: -30px;
}
.btnToDatatable {
  position: absolute;
  top: 20px; 
  right: 30px;
}
.btnToDatatable .btn{
  font-size: 30px;
}
/* .template {
    
 } */
.template{
  width: 850px;
  background-color: white;
}
.template img {
  width: 400px;
  height: 300px;
  padding: 30px;
}

.information {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.information .title {
  font-size: 12px;
  color: grey;
}
.information .subtitle {
  font-size: 15px;
}
.information .cardflex {
  text-align: center;
  width: 400px;
}
.information .save a {
  text-decoration: none;
  padding: 10px;
  background-color: rgb(29, 255, 29);
  border-radius: 3px;
  color: white;
}
.information .save a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid black;
  transition: 0.8s;
}

.card {
  text-align: left;
  background-color: transparent;
  border: none;
  padding: 5px;
}


@media screen and (max-width: 800px) {
  .template img {
    width: 430px;
  }
}
@media screen and (max-width: 500px) {
  .template img {
    width: 330px;
  }
}